.mapboxgl-popup-content {
  @apply shadow-lg p-0 rounded dark:bg-gray-600 ring-1 ring-black dark:ring-gray-500 ring-opacity-5;
}

.dark {
  .mapboxgl-popup-tip {
    border-top-color: theme('colors.gray.600')
  }
  .mapboxgl-ctrl-group {
    @apply bg-gray-600;
  }
  .mapboxgl-ctrl-icon {
    @apply border-gray-900;
    mix-blend-mode: screen;
    filter: brightness(2.25);
  }
}
