.leaflet-container {
  background-color: theme('colors.gray.200');
  z-index: 0;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-family: monospace;
  font-size: 20px !important;
  color: theme('colors.gray.600') !important;
}

.leaflet-control-zoom-in {
  border-bottom-color: theme('colors.gray.200') !important;
}

.leaflet-control.leaflet-control-zoom {
  @apply ml-2 mt-2 shadow border-white hover:bg-gray-200 hover:border-gray-200;
}
