/* https://github.com/wellcometrust/fonts */
/* @font-face {
  font-family: "Wellcome Bold";
  src: url("./assets/wellcome-bold-webfont.woff2") format("woff2"),
       url("./assets/wellcome-bold-webfont.woff") format("woff");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply leading-6 text-base font-normal p-0 m-0 text-gray-800 bg-gray-100;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* 100vh is incorrect on android, need to use % */
#root > header + * {
  height: calc(100% - theme('spacing.header'))
}

/* Tailwind default is disabled, we want more space at smaller sizes */
.container {
  @apply max-w-7xl mx-auto;
}

@media (min-width: theme('screens.md')) {
  #root {
    height: auto;
  }

  #root > header + * {
    min-height: calc(100vh - theme('spacing.header-md'))
  }
  
  .container {
    @apply px-6;
  }
}

/* Debug */
.baseline-grid {
  background-image: linear-gradient(180deg,red 1px,transparent 0);
  background-position: 0 0;
  background-repeat: repeat;
}

.baseline-grid-6 {
  @apply baseline-grid;
  background-size: 100% theme('spacing.6');
}

.baseline-grid-5 {
  @apply baseline-grid;
  background-size: 100% theme('spacing.5');
}

.baseline-grid-4 {
  @apply baseline-grid;
  background-size: 100% theme('spacing.4');
}
