@import './base.css';

html, body {
	@apply leading-6 text-base font-normal p-0 m-0 text-gray-800 bg-gray-100;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* 100vh is incorrect on android, need to use % */
#root > header + * {
  height: calc(100% - theme('spacing.header'))
}

@media (min-width: theme('screens.md')) {
  #root {
    height: auto;
  }

  #root > header + * {
    min-height: calc(100vh - theme('spacing.header-md'))
  }
}
