/* https://github.com/wellcometrust/fonts */
@font-face {
  font-family: "Wellcome Bold";
  src: url("./assets/wellcome-bold-webfont.woff2") format("woff2"),
       url("./assets/wellcome-bold-webfont.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply leading-6 text-base font-normal p-0 m-0;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
  @apply font-display text-sanger-medium-blue text-xl font-medium leading-tight;
}